*/*/package/
.terraform/
.terraform*
secrets/decrypted_secrets/
lambda/src/package/**/*
!terraform-init/**/*.tfstate
!terraform-init/**/*.tfstate.backup
.DS_Store
lambda.zip
*/*/.terraform
*/*.zip
**.zip
*.retry
.DS_store
.DS_Store
.idea
historical-builds
venv
__pycache__
.idea/
vendor/
